body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 24px;
}

#players {
    margin-top: auto;
}

#players,
#enemies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#commands {
    display: flex;
    flex-direction: row;
}

#commands-player-roulette,
#commands-target-roulette,
#commands-roulette {
    border: 1px solid black;
    display: inline-flex;
    flex-direction: column;
    height: 60px;
    overflow-y: hidden;
}

.player-roulette-slot,
.player-target-slot {
    box-sizing: content-box;
    height: 40px;
    padding: 4px;
    width: 40px;

    &:nth-of-type(n + 2) {
        padding-top: 8px;
    }

    &.selected {
        border: 1px solid black;
    }

    & > img {
        height: 100%;
        width: 100%;
    }
}

.command-roulette-slot {
    border: 1px solid black;
    background: white;

    &.selected {
        opacity: 0.5;
    }
}

.character {
    position: relative;
}

.avatar {
    height: 40px;
    width: 40px;
    transition: opacity 600ms;
}

.health,
.stamina {
    font-size: 12px;
}

.health {
    color: red;
    left: 0;
}

.stamina {
    color: green;
    right: 0;
}

.hidden {
    opacity: 0.5;
}
