body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 24px;
}

#players {
    margin-top: auto;
}

#players,
#enemies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.commands {
    display: inline-flex;
    flex-direction: column;
}

.command-menu-action {
    display: flex;
    flex-direction: row;

    &.disabled {
        opacity: 0.5;
    }
}

.commands-player-roulette,
.commands-target-roulette,
.commands-roulette {
    border: 1px solid black;
    display: inline-flex;
    flex-direction: column;
    height: 60px;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.player-roulette-slot,
.target-roulette-slot {
    box-sizing: content-box;
    height: 40px;
    padding: 4px;
    position: relative;
    width: 40px;

    &.selected {
        border: 1px solid black;
    }

    & > img {
        height: 100%;
        width: 100%;
    }

    &-icon {
        border: 1px solid black;
        color: red;
        height: 20px;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        width: 20px;
    }
}

.command-roulette-slot {
    border: 1px solid black;
    background: white;

    &.selected {
        opacity: 0.5;
    }
}

#help {
    bottom: 40px;
    position: fixed;
    right: 40px;
}

.help-menu {
    border: 1px solid black;
    font-size: 12px;
    max-width: 100px;
    padding: 4px;

    &-trigger {
        background-color: white;
        border: 1px solid black;
        border-radius: 50%;
        cursor: pointer;
        height: 40px;
        text-align: center;
        width: 40px;
    }
}

.character {
    position: relative;
}

.avatar {
    height: 40px;
    width: 40px;
    transition: opacity 600ms;
}

.health,
.stamina {
    font-size: 12px;
}

.health {
    color: red;
    left: 0;
}

.stamina {
    color: green;
    right: 0;
}

.hidden {
    opacity: 0.5;
}

.burning {
    animation: 1s linear burningEffect infinite;
    background: red;
    border: 5px solid yellow;
    border-radius: 50%;
    height: 15px;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 10px;
}

@keyframes burningEffect {
    0% {
        transform: scale(0.1);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.1);
    }
}
