body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 24px;
}

#players {
    margin-top: auto;
}

#players,
#enemies {
    text-align: center;
}

.avatar {
    height: 40px;
    width: 40px;
    transition: opacity 600ms;
}

.health {
    color: red;
}

.stamina {
    color: green;
}

.hidden {
    opacity: 0.5;
}
